.result-addition-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputs-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 100%;
  gap: 16px;
  margin-bottom: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper label {
  margin: 0;
}

.input-wrapper input[type="text"] {
  margin: 0;
}

.bg-logo {
  position: absolute;
  opacity: .2;
  height: 300px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  user-select: none;
}

@media screen and (max-width: 1024px) {
  .bg-logo {
    display: none;
  }

  form {
    width: 100%;
  }

  .inputs-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}