.btn {
  padding: 14px 32px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 60ms linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.btn:hover {
  background-color: #cc4040;
  color: rgba(255, 255, 255, 0.9);
}

.btn-secondary {
  background-color: #E2E2E2;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  padding: 14px 24px;
}

.btn-secondary:hover {
  background-color: #cfcfcf;
  color: rgba(0, 0, 0, 0.55);
}

.file-upload {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}