form {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 260px;
}

form input[type="text"], select {
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

label {
  margin-bottom: 12px;
  font-size: 1.075rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

input[type="range"] {
  margin-bottom: 24px;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.15);
  height: 6px;
  border-radius: 4px;
  opacity: .9;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox, .checkbox * {
  cursor: pointer;
}

.checkbox:hover label {
  opacity: .95;
}

.checkbox label {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  opacity: .8;
  user-select: none;
  padding-left: 8px;
  text-wrap: nowrap;
}

input[type="checkbox"] {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.15);
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 0;
}

input[type="checkbox"]:checked::after {
  content: '';
  background: var(--primary);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url();
}

.input-checkbox {
  display: flex;
  position: relative;
}

.input-checkbox i {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px;
  color: rgba(255, 255, 255, 0.8);
}

.input-checkbox input[type="checkbox"]:checked ~ i {
  visibility: visible;
}

@media screen and (max-width: 430px) {
  form {
    min-width: auto;
  }
}