.result-addition-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 260px;
}

form input {
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

label {
  margin-bottom: 12px;
  font-size: 1.075rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.bg-logo {
  position: absolute;
  opacity: .2;
  height: 300px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  user-select: none;
}

@media screen and (max-width: 1024px) {
  .bg-logo {
    display: none;
  }

  form {
    width: 100%;
  }
}