.p-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-spacing: 0;
  border-radius: 8px;
  min-width: 1000px;
  margin-bottom: 48px;
}

.p-table td, .p-table th {
  border-right: 1px solid rgba(0, 0, 0, 0.1);;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

.p-table td:last-child, .p-table th:last-child {
  border-right: 0;
}

.p-table tr:last-child td {
  border-bottom: 0;
}

.p-table th {
  padding: 32px 48px;
  font-size: 1.333rem;
  font-weight: 700;
}

.p-table td {
  padding: 24px 48px;
  text-align: center;
  font-size: 1.222rem;
  font-weight: 600;
}

.p-table .badge {
  font-size: 2rem;
}