.p-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: #ffffff;
  padding: 24px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05), 1px 2px 4px 0px rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.137);
}

.p-row-item {
  font-size: 1.8rem;
  font-weight: 600;
}

.p-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.p-table-head {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
}

.p-head-item {
  font-size: 1.35rem;
  font-weight: 500;
}