.result-wrapper {
  display: flex;
  flex-direction: column;
  
}

.results {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.table, .table th, .table td {
  margin: 0;
  border-spacing: 0;
}

.table th, .table td {
  padding: 16px 48px;
}

.table tr {
  position: relative;
}

.table tr:hover i {
  display: block;
  cursor: pointer;
}

.table tr:hover i:hover {
  opacity: 1;
}

.table tr i {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: none;
  color: var(--warning);
  opacity: .5;
  padding: 8px;
}

/* Table Border */
.table {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table th:last-child, .table td:last-child {
  border-right: none;
}

.table tr:last-child td {
  border-bottom: none;
}