.config-form {
  width: 100%;
  row-gap: 24px;
}

.config-form__option {
  display: flex;
  flex-direction: column;
}

.config-form__row {
  display: flex;
  justify-content: stretch;
  column-gap: 32px;
}

.config-form__row__option {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 635px) {
  .config-form__row {
    flex-direction: column;
    row-gap: 24px;
  }
}