html, body, * {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body, #root {
  background-color: #fff;
}

:root {
  --primary: #E54343;
  --warning: #d15c5c;
}

#root {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100vh;
}

#app-container {
  width: 80%;
  max-width: 1100px;
}

@media screen and (max-width: 635px) {
  html, body {
    font-size: 12px;
  }
}