.table-input {
  background-color: transparent;
  border: none;
  display: inline;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.table-input:hover {
  background-color: rgba(0, 0, 0, 0.05);
}